{{ if and (eq .chezmoi.os "linux") (eq .chezmoi.hostname "sclab-56" "sclab-148" "sclab-187" "sclab-232" "sclab-235"))}}
#!/bin/sh
$(chezmoi source-path)/.script/install-helix-linux-rootless.sh

{{ else if eq .chezmoi.os "linux"}}
#!/bin/sh
$(chezmoi source-path)/.script/install-helix-linux.sh

{{ else if eq .chezmoi.os "darwin" -}}
#!/bin/sh
$(chezmoi source-path)/.script/install-helix-darwin.sh

{{ end -}}
